="Name: #{@trainer.name}"
="Country of Origin: #{@trainer.country_of_origin}"
="Date of birth: #{@trainer.date_of_birth.strftime('%m/%d/%Y')}"
=link_to "Return to Pokedex", pokedex_path
=link_to 'Edit', edit_trainer_path(@trainer)
=link_to 'Remove from Pokedex', trainer_path(@trainer), method: :delete

%h1="List of #{@trainer.name}'s Pet Pokemon"
-@trainer.pets.each do |pet|
  =link_to "#{pet.name} - a Level #{pet.experience_level} #{pet.pokemon.name}", trainer_pet_path(@trainer, pet)
=link_to "Add a new Pet Pokemon to #{@trainer.name}'s team", new_trainer_pet_path(@trainer)
