!!!html
%html
  %head
    %title PracticeAppPokemon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  -if notice
    =notice
  -if current_user
    ="Current User: #{current_user.full_name}"
    ="Sign Out"
  = yield
